<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>811940849881-rmh0d5nd2r3mg4vv2dde6b994c3525pk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.811940849881-rmh0d5nd2r3mg4vv2dde6b994c3525pk</string>
	<key>API_KEY</key>
	<string>AIzaSyBafXsmjV6Wf92l4nODy7J2rSD2mzX4-6U</string>
	<key>GCM_SENDER_ID</key>
	<string>811940849881</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gameonconnect</string>
	<key>PROJECT_ID</key>
	<string>gameonconnect-cf66d</string>
	<key>STORAGE_BUCKET</key>
	<string>gameonconnect-cf66d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:811940849881:ios:d1933beae7447f414f36c8</string>
</dict>
</plist>